/* Images URL
http://dotnethow.net/images/movies/movie-1.jpeg
https://dotnethow.net/images/movies/movie-2.jpeg
http://dotnethow.net/images/movies/movie-3.jpeg
http://dotnethow.net/images/movies/movie-4.jpeg
https://dotnethow.net/images/movies/movie-5.jpeg
http://dotnethow.net/images/movies/movie-6.jpeg
http://dotnethow.net/images/movies/movie-7.jpeg
http://dotnethow.net/images/movies/movie-8.jpeg
https://dotnethow.net/images/movies/movie-9.jpeg
https://dotnethow.net/images/movies/movie-10.jpeg
*/

body {
  font-family: "Delius Swash Caps", cursive;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: white;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
  font-size: 30px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #28a745;
}

#searchBar {
  width: 200px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

#searchResults {
  list-style-type: none;
  padding: 0;
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  width: 200px;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 2px;
}

#searchResults li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: #000;
}

#searchResults li:hover {
  background-color: #f0f0f0;
  color: blue;
}

.main {
  margin: 10px;
}

h1{
  text-align: center; 
  display: inline;
}

.book-card {
  margin: 5px;
  background-color: rgb(188, 227, 245);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  width: 220px;
  display: inline-block;
  flex-direction: column; 
  align-items: center; 
}

.book-card p {
  margin: 5px 0; 
  font-size: 16px;
}

.book-card img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.5s;
}

.book-card:hover {
  transform: scale(0.9);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 10px; 
}

.button-container button {
  background-color: #4caf50; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.button-container button:hover {
  background-color: #45a049;
}


.add-book-form{
  color: #000;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  flex: 1;
}

.add-book-element{
  width: 30%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.add-book-button{
  background-color: green;
  border-radius: 5px;
  width: 30%;
  padding: 10px;
  margin: 5px;
}
.save-book-button{
  background-color: green;
  border-radius: 5px;
  width: 14%;
  padding: 10px;
  margin: 5px;
}
.cancel-book-button{
  background-color: red;
  border-radius: 5px;
  width: 14%;
  padding: 10px;
  margin: 5px;
}

.login-form{
  color: #000;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  flex: 1;
}

.login-element{
  width: 30%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  
}

.login-button{
  background-color: green;
  border-radius: 5px;
  width: 30%;
  padding: 10px;
  margin: 5px;

}

.signup-form{
  color: #000;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  flex: 1;
}

.signup-element{
  width: 30%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  
}

.signup-button{
  background-color: green;
  border-radius: 5px;
  width: 30%;
  padding: 10px;
  margin: 5px;

}

footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
