/* Images URL
http://dotnethow.net/images/movies/movie-1.jpeg
https://dotnethow.net/images/movies/movie-2.jpeg
http://dotnethow.net/images/movies/movie-3.jpeg
http://dotnethow.net/images/movies/movie-4.jpeg
https://dotnethow.net/images/movies/movie-5.jpeg
http://dotnethow.net/images/movies/movie-6.jpeg
http://dotnethow.net/images/movies/movie-7.jpeg
http://dotnethow.net/images/movies/movie-8.jpeg
https://dotnethow.net/images/movies/movie-9.jpeg
https://dotnethow.net/images/movies/movie-10.jpeg
*/

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.main {
  margin: 20px;
}

.book-grid {
  display: flex;
  flex-wrap: wrap; 
  gap: 15px; 
  justify-content: flex-start; 
  max-width: 100%; 
  padding: 10px; 
  font-weight: bold;
  font-size: large;
}

.book-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  width: 300px; 
  box-sizing: border-box;
}

.book-card img {
  width: 100%;
  border-radius: 4px;
}

.add-book-form{
  color: #000;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.add-book-element{
  width: 30%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.add-book-button{
  background-color: green;
  border-radius: 5px;
  width: 30%;
  padding: 10px;
  margin: 5px;
}

.login-form{
  color: #000;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.login-element{
  width: 30%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  
}

.login-button{
  background-color: green;
  border-radius: 5px;
  width: 30%;
  padding: 10px;
  margin: 5px;

}